* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

nav {
  background: #91d4da;
  height: 3.66666667em;
  line-height: 3.66666667em;
  text-align: center;
  color: white;
  overflow: hidden;
}
nav .nav-back {
  font-size: 16px;
  float: left;
}
[data-dpr="2"] nav .nav-back {
  font-size: 32px;
}
[data-dpr="3"] nav .nav-back {
  font-size: 48px;
}
nav .nav-back:before {
  content: "\003C";
  font-size: 18px;
  display: inline-block;
  margin-left: 1em;
  margin-right: 0.5em;
}
[data-dpr="2"] nav .nav-back:before {
  font-size: 36px;
}
[data-dpr="3"] nav .nav-back:before {
  font-size: 54px;
}
nav .nav-title {
  font-size: 18px;
}
[data-dpr="2"] nav .nav-title {
  font-size: 36px;
}
[data-dpr="3"] nav .nav-title {
  font-size: 54px;
}



